*{
    margin : 0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
img{
    width: 100%;
}

.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}
.section-details{
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: x-large;
}
.section-details::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: 50px;
    background: orange;
}
header{
    position: fixed;
    width: 100%;
    z-index: 5;
    background: brown;

}
header .navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.navbar .nav-logo .logo-text{
    color: white;
    font-size: x-large;
    font-weight: 1000;
}
.navbar .nav-menu{
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    color: white;
    border-radius: 3cm;
    font-size: medium;
    transition: 0.3s ease;
}
.navbar .nav-menu .nav-link:hover{
    background: rgb(236, 158, 15);
   
}
.navbar :where(#menu-close-button, #menu-open-button){
    display: none;
}
.hero-section{
    min-height: 100vh;
    background: brown;
}
.hero-section .section-content{
   display: flex;
   align-items: center;
   min-height: 100vh;
   color: white;
   justify-content: space-between;
}
.hero-section .hero-details .title{
    font-size: xx-large;
    color: rgb(246, 188, 81);
    font-family: "Miniver";
}
.hero-section .hero-details .subtitle{
    margin-top: 8px;
    max-width: 70%;
    font-size: x-large;
    font-weight: 600px;
    justify-content: space-between;
}
.hero-section .hero-details .description{
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: medium;
}
.hero-section .hero-details .button{
   display: flex;
    gap: 23px;
    margin-top: 20px;
}
.hero-section .hero-details .button a{
    padding: 10px 26px;
   border: 2px solid transparent;
    color: brown;
    border-radius: 900px;
    background: orange;
    font-weight: 800;
    display: inline-block;
    transition: 0.3s ease;
   
}

.hero-section .hero-details .button a:hover{
    color: white;
    border-color: white;
    background: transparent;
    border-radius: 900px;
}

.hero-section .hero-details .contact-us{
    background: transparent;
    color: white;
    border: 2px solid white;
}

.hero-section .hero-details .contact-us:hover{
    color: rgb(47, 7, 7);
    border-color: white;
    background: yellow;
}
.hero-section .hero-details .button a.active{
    background: orange;
    color: brown;
  }
  
  .hero-section .hero-details .button a:not(.active){
    background: transparent;
    color: white;
    border: 2px solid white;
  }
  

.hero-section .hero-image-wrapper{
    max-width: 1000px;
    margin-right: 30px;
}

.about-section{
    padding: 120px 0;
    background: rgb(255, 232, 235);
}
.about-section .section-content{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;

}
.about-section .about-image-wrapper .about-image{
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 900px;
}
.about-section .about-details .section-details{
 padding: 0;
}
.about-section .about-details .text{
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: medium;
}
.about-section .social-link-list{
    display: flex;
    gap: 25px;
    justify-content: center;
}
.about-section .social-link-list .social-link{
    color: rgb(76, 76, 206);
    font-size: large;
    transition: 0.2s ease;
}
.about-section .social-link-list .social-link:hover{
    color: orange;
}
.menu-section{
    color: white;
    background: rgb(71, 71, 71);
    padding: 50px 0 100px;
}
.menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
    justify-content: space-between;
}
.menu-section .menu-list .menu-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
}

.menu-section .menu-list .menu-item .menu-image{
    max-width: 100%;
    aspect-ratio: 0.7;
    margin-bottom: 15px;
    object-fit: contain;
}
.menu-section .menu-list .menu-item .name{
    margin: 12px 0;
    font-size: large;
    align-items: center;
    font-weight: 500;
}
.testimonials-section{
    padding: 50px 0 100px;
    background: rgb(255, 232, 235);
}

.testimonials-section .slider-wrapper{
    overflow: hidden;
    margin: 0 60px 50px;
}
.testimonials-section .testimonial{
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.testimonials-section .testimonial .user-image{
    width: 280px;
    height: 280px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: 300px;
    cursor: zoom-in;
   transition: 0.3s ease;


}
.testimonials-section .testimonial:hover .user-image{
    transform: scale(1.2);

}
.testimonials-section .testimonial .name{
    margin-bottom: 16px;
    font-size: medium;
}
.testimonials-section .testimonial .feedback{
    line-height: 25px;
}
.testimonials-section .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    opacity: 1;
    background: orange;
}
.testimonials-section .swiper-slide-button{
    margin-top: -50px;
    color: orange;
    transition: 0.3s ease;
}
.testimonials-section .swiper-slide-button:hover{
    color: brown;
   
}
.gallery-section{
    color: white;
    background: rgb(71, 71, 71);
    padding: 50px 0 100px;
   
}
.gallery-section .gallery-list{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.gallery-section .gallery-list .gallery-item{
    overflow: hidden;
    border-radius: 700px;
    width: calc(100% / 3 - 32px);
}
.gallery-section  .gallery-item .gallery-image{
    width: 100%;
    height: 80%;
    cursor: zoom-in;
    transition: 0.3s ease;
    border-radius: 900px;


}
.gallery-section  .gallery-item:hover .gallery-image{
    transform: scale(1.2);
}
.contact-section{
    padding: 50px 0 100px;
    background: rgb(255, 232, 235);
}
.contact-section .section-content{
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-between;
}
.contact-section .contact-info-list .contact-infp{
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;

}
.contact-section .contact-info-list .contact-info i{
    font-size: medium;

}
.contact-section .contact-form .form-input{
    width: 100%;
    height: 50px;
    padding: 0 12px;
    outline: none;
    margin-bottom: 16px;
    background: white;
    border-radius: 4px;
    border: 2px solid brown;
   
}
.contact-section .contact-form{
    max-width: 50%;
}
.contact-section .contact-form .form-input:focus{
   border-color: orange;
}
.contact-section .contact-form textarea.form-input{
    height: 100px;
    padding: 12px;
    resize: vertical;

}
.contact-section .contact-form .submit-button{
    color: white;
    margin-top: 10px;
    padding: 10px 26px;
    background: brown;
    border-radius: 100px;
    border: 3px solid brown;
    transition: 0.3s ease;

}
.contact-section .contact-form .submit-button:hover{
    background: transparent;
    color: brown;
}
.footer-section{
    padding: 20px 0;
    background: rgb(56, 56, 56);
    color: white ;
}
.footer-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-section :where(.copyright-text, .social-link, .policy-link){ 
    color: white;
  transition: 0.2s ease;


}
.footer-section .social-link-list{
    display: flex;
    gap: 25px;
}

.footer-section .social-link-list .social-link{
    font-size: large;
}

.footer-section .social-link-list .social-link:hover, .footer-section .policy-text .policy-link:hover{
    color: orange;
}
.footer-section .policy-text .separator{
    margin: 0 5px;
    color: white;

}
/* responsive media query code for max width 1024px*/
@media screen and (max-width:1024px){
    .menu-section .menu-list{
        gap: 90px;
    }
    .menu-section .menu-list .menu-item{
        width: calc(100% / 3 - 110px);
        
    }
}
/* responsive media query code for max width 900px*/
@media screen and (max-width:900px){

    body.show-mobile-menu header::before{
        content:"";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(4px);
        background: rgba(0,0,0,0.2);
    }

    .navbar :where(#menu-close-button, #menu-open-button){
        display: block;
            font-size: medium;
    }

    .navbar #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;
    }
    .navbar #menu-open-button{
        color: white;
    }
    .navbar .nav-menu{
        display: block;
        position: fixed;
        left:-300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: rgb(255, 255, 255);
        transition: left 0.2s ease;

    }
    body.show-mobile-menu .navbar .nav-menu{
        left: 0 ;

    }
    .navbar .nav-menu .nav-link{
        color: black;
        display: block;
        margin-top: 2px;
        font-size: medium;
    }
    .hero-section .section-content{
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .hero-section .hero-details :is(.subtitle, .description), .about-section .about-details{
        max-width: 100%;
    }
    .hero-section .hero-details .buttons{
        justify-content: center;
    }
.hero-section .hero-image-wrapper{
    max-width: 270px;
    margin-right: 0;
}
.about-section .section-content{
    gap: 70px;
    flex-direction: column-reverse;
}
.about-section .about-image-wrapper .about-image{
    width: 100%;
    height: 100%;
    max-width: 350px;
    aspect-ratio: 1;
}
.menu-section .menu-list{
    gap: 60px;
}
.menu-section .menu-list .menu-item{
    width: calc(100% / 2 - 30px);
    
}
.menu-section .menu-list .menu-item .menu-image{
    max-width: 400px;
    
}
.gallery-section .gallery-list .gallery-item{
    width: calc(100% / 2 - 20px);
}
}